<!--<ion-header class="ion-no-border">-->
<!--  <nav class="w-full">-->
<!--    <div class="flex flex-row justify-between h-full max-w-[80%] mx-auto">-->
<!--      <div class="flex items-center">-->
<!--        <img src="assets/logos/evandro-logo.png" class="h-14" alt="Logo">-->
<!--      </div>-->


<!--      <ul class="flex font-medium items-center mobile:hidden">-->
<!--        <li><a class="">Sobre</a></li>-->

<!--        <li><a class="ml-8">Projetos</a></li>-->
<!--        <li><a class="ml-8">Experiências</a></li>-->
<!--        <li><a class="ml-8">Educação</a></li>-->
<!--        <li><a class="ml-8">Contato</a></li>-->

<!--      </ul>-->

<!--      <div class="flex desktop:hidden">-->
<!--        <ion-icon name="menu" class="text-5xl"></ion-icon>-->
<!--      </div>-->


<!--    </div>-->
<!--  </nav>-->
<!--</ion-header>-->

<!--<ion-header>-->
<!--<div class="navbar bg-base-100">-->

<!--  &lt;!&ndash;start &ndash;&gt;-->
<!--  <div class="navbar-start justify-center">-->
<!--    <img src="assets/logos/evandro-logo.png" class="h-14" alt="Logo">-->
<!--  </div>-->

<!--  &lt;!&ndash; center &ndash;&gt;-->
<!--  <div class="navbar-center justify-center w-[70%] mobile:hidden">-->
<!--    <ul class="menu menu-horizontal px-1">-->
<!--      <li><a class="btn-link text-primary">Sobre</a></li>-->
<!--      <li><a class="btn-link text-primary">Projetos</a></li>-->
<!--      <li><a class="btn-link text-primary">Experiências</a></li>-->
<!--      <li><a class="btn-link text-primary">Educação</a></li>-->
<!--      <li><a class="btn-link text-primary">Contato</a></li>-->
<!--    </ul>-->


<!--  </div>-->

<!--  &lt;!&ndash; end &ndash;&gt;-->
<!--  <div class="navbar-end !w-[45%] desktop:hidden">-->
<!--      &lt;!&ndash;<div tabindex="0" role="button" class="btn btn-ghost desktop:hidden">&ndash;&gt;-->
<!--        <ion-icon name="menu" class="btn btn-ghost text-3xl"></ion-icon>-->
<!--      &lt;!&ndash;</div>&ndash;&gt;-->


<!--  </div>-->
<!--</div>-->
<!--</ion-header>-->








