<nav class="bg-alternative fixed w-full z-20 top-0 start-0">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">

    <a href="https://evandrofaria.dev/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="assets/logos/evandro-logo.png" class="h-14" alt="Evandro Faria Logo">
    </a>

    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button data-collapse-toggle="navbar-sticky" type="button"
              class="daisy-btn-link inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-primary md:hidden"
              aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>

    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium md:space-x-8
                 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 bg-alternative">

        <li><a href="/sobre"
               class="font-sans block py-2 px-3 rounded text-secondary-color md:p-0 hover:underline hover:underline-offset-2"
               aria-current="page">Sobre</a></li>
        <li><a href="/projetos"
               class="font-sans block py-2 px-3 rounded text-white md:p-0 hover:underline hover:underline-offset-2 hover:text-secondary-color">Projetos</a>
        </li>
        <li><a href="/experiencias"
               class="font-sans block py-2 px-3 rounded text-white md:p-0 hover:underline hover:underline-offset-2 hover:text-secondary-color">Experiências</a>
        </li>
        <li><a href="/educacao"
               class="font-sans block py-2 px-3 rounded text-white md:p-0 hover:underline hover:underline-offset-2 hover:text-secondary-color">Educação</a>
        </li>
        <li><a href="/contato"
               class="font-sans block py-2 px-3 rounded text-white md:p-0 hover:underline hover:underline-offset-2 hover:text-secondary-color">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
