:root {
  /* Forçar utilização do tema em alguns androids */
  color-scheme: unset !important;

  /* Fontes */
  --ion-font-family: 'Poppins', sans-serif;

  /* Cores padrão */
  --primary-color: #FFFFFF;
  --secondary-color: #5BADFF;
  --secondary-text: #C5C5C5;
  --gradient-gray: linear-gradient(180deg, #FFF 13.89%, rgba(253, 253, 253, 0.18) 83.33%);
  --card-color: #2A2A2A;
  --ion-background-color: #161513;
  --alternative-bg: #222222;
}
